body {
  h1{
    text-align:center;
}h2{
  text-align:center;
  color:red;
  }.label{
    color:green;
    font-size:18px;
  }.value{
    color:black;
    font-size:14px;
  }.image-box{
    width:250px;
    height:250px;
    float:right;
  }  
  }
          
